.form__fieldset_input,
.form__fieldset_button {
  border-radius: 4px;
}

.form__fieldset_button,
.form__fieldset_input {
  line-height: 60px;
}

.form__fieldset_input {
  margin-bottom: 32px;
  margin-top: 8px;
  line-height: 30px;
}

.form__fieldset_input::placeholder {
  font-size: 20px;
}

