.header {
  height: 100vh;
  max-height: 800px;
  min-height: 720px;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
}

.header__title {
  max-width: 709px;
  margin-top: 183px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  letter-spacing: -1px;
}

.header__description {
  margin-top: 28px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  font-family: "Inter";
  line-height: 20px;
  color: #838383;
  margin: 0;
}

#header__addres {
  margin-top: auto;
}
